{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'thecourt/js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'thecourt/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'thecourt/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'thecourt/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'thecourt/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'thecourt/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'thecourt/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'thecourt/css/chat.css' %}">
  </head>
  <body>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-6 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="{% url 'home' %}" class="h2 mb-0">COURT<span class="text-primary"></span> </a></h1>
            </div>
  
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
  
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  
                  
                  <li><a href="#" class="nav-link">Users</a></li>
                  <li><a href="#" class="nav-link">Profile</a></li>
                </ul>
              </nav>
            </div>
  
  
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
  
          </div>
        </div>
        
      </header>
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
				<ul class="p-0">
					<li>
						<div class="row comments mb-1">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="{% static 'thecourt/images/person_1.jpg' %}" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Jacks David</a></h4>
							    <time class="text-white ml-3">1 hours ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="{% static 'thecourt/images/person_2.jpg' %}" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">Steve Alex</a></h4>
								    <time class="text-white ml-3">1 week ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting all the way from NYC.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="{% static 'thecourt/images/person_3.jpg' %}" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Andrew Filander</a></h4>
							    <time class="text-white ml-3">7 day ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="{% static 'thecourt/images/person_4.jpg' %}" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">james Cordon</a></h4>
								    <time class="text-white ml-3">1 min ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting from an unknown location.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="{% static 'thecourt/images/person_5.jpg' %}" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Tye Simmon</a></h4>
							    <time class="text-white ml-3">1 month ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="row comment-box-main p-3 rounded-bottom">
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
					  <input type="text" class="form-control" placeholder="comment ...." />
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
			  			<button class="btn btn-info">Send</button>
			  		</div>
				</div>
			</div>
		</div>
	</div>
  </body>
  <script src="{% static 'thecourt/js/chat.js' %}"></script>
</html>